@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

.App {
  background-image: url("../public/mode_page-train-dw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 50vh;
  font-family: "Cairo", sans-serif;
}

.main-button {
  color: #fff;
  background-color: #6f4c5b;
  border: 0;
}
.main-input {
  background-color: #f5e8c7;
  border-color: #9e7777;
}
.main-label {
  font-size: 14px;
  color: #9e7777;
}
